.logo {
  line-height: $header-size;
  font-size: 1.3em;

  @include breakpoint(small only) {
    line-height: $small-header-size;
  }

  span {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: $dark-gray;
  }

  span.team {
    font-weight: 600;
    color: $black;
  }
}
