nav.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  > ul.menu {
    height: $header-size;
    padding: 0 0.5rem;

    @include breakpoint(small only) {
      height: $small-header-size;
      padding: 0;
    }

    > li > a {
      line-height: $header-size;
      padding: 0 1rem;

      @include breakpoint(small only) {
        line-height: $small-header-size;
      }
    }
  }

  li a {
    font-weight: 300;
  }

  ul.submenu {
    margin-top: -40px;
  }

  .icon-link {
    line-height: $header-size;
    padding: 0 0.5rem;

    @include breakpoint(small only) {
      line-height: $small-header-size;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @include breakpoint(small only) {
    justify-content: center;
  }
}

ul.menu:hover li a {
  color: $anchor-color-hover;

  &:hover {
    color: $anchor-color;
  }
}

nav.main > ul.menu > li.is-dropdown-submenu-parent > a::after {
  display: none;
}
