<div class="statistics-view-wrapper">
    <input type="radio" name="scene" id="scene-1" value="1" checked />
    <input type="radio" name="scene" id="scene-2" value="2" />
    <input type="radio" name="scene" id="scene-3" value="3" />
    <input type="radio" name="scene" id="scene-4" value="4" />

    <div class="statistics-view">
        <div class="majico"></div>

        <div class="left-side">
            <div class="page-numbers" data-total="04">
                <div class="page-number -tens">0</div>
                <div class="page-number -ones">
                    1<br/>2<br/>3<br/>4
                </div>
            </div>
        </div>

        <div class="hero">
            <div class="layer">
                <a href="https://majico.org" class="button">
                    Visit Majico
                </a>
            </div>
        </div>

        <div class="left-content">
            <div class="layer" data-scene="1">
                <div class="fact subtitle">Nearly</div>
                <div class="fact number">850 million</div>
                <div class="fact description">people stil lack access to even a basic drinking water service</div>
            </div>

            <div class="layer" data-scene="2">
                <div class="fact subtitle">In low- and middle-income countries</div>
                <div class="fact number">38%</div>
                <div class="fact description">of health care facilities lack an improved water source</div>
            </div>

            <div class="layer" data-scene="3">
                <div class="fact subtitle">About</div>
                <div class="fact number">3.4 million</div>
                <div class="fact description">people die annually from water-related diseases</div>
            </div>

            <div class="layer" data-scene="4">
                <div class="fact subtitle">By</div>
                <div class="fact number">2025</div>
                <div class="fact description">half the world will live in water-stressed areas</div>
            </div>
        </div>

        <div class="right-content">
            <nav class="slide-nav">
                <div class="nav-button -prev">
                    <i class="lnr lnr-chevron-left"></i>

                    <label class="nav-toggle" for="scene-1">1</label>
                    <label class="nav-toggle" for="scene-2">2</label>
                    <label class="nav-toggle" for="scene-3">3</label>
                    <label class="nav-toggle" for="scene-4">4</label>
                </div>

                <div class="nav-button -next">
                    Next <i class="lnr lnr-chevron-right"></i>

                    <label class="nav-toggle" for="scene-1">1</label>
                    <label class="nav-toggle" for="scene-2">2</label>
                    <label class="nav-toggle" for="scene-3">3</label>
                    <label class="nav-toggle" for="scene-4">4</label>
                </div>
            </nav>

            <div class="layer" data-scene="1">
                <h2 class="heading">
                    Water access emergency.
                </h2>
                <p class="paragraph">
                    844 million people worldwide lack access to basic drinking water service, according to the WHO/UNICEF Joint Monitoring Programme (JMP) Report 2017. A basic drinking water service is one that's within a 30 minute round trip and is free from contamination. These few criteria are not met for so many - a true water access emergency.
                </p>
            </div>

            <div class="layer" data-scene="2">
                <h2 class="heading">
                    Compromised health care.
                </h2>
                <p class="paragraph">
                    An improved water source meets three criteria. It is accessible on premises, it always has water available when needed and the supplied water is free from contamination. 38% of health care facilities worldwide don't even have this, according to the WHO Drinking Water Fact Sheet. Their ability to provide adequate health care to those in need is compromised.
                </p>
            </div>

            <div class="layer" data-scene="3">
                <h2 class="heading">
                    Preventable disease.
                </h2>
                <p class="paragraph">
                    3.4 million people die annually due to water-related disease. This from a WHO World Water Day Report in 2001, which also predicts the problem of access to clean water will grow. The sheer scale of easily preventable death and disease is unacceptable in the modern era.
                </p>
            </div>

            <div class="layer" data-scene="4">
                <h2 class="heading">
                    Growing crisis.
                </h2>
                <p class="paragraph">
                    The WHO Drinking Water Fact Sheet predicts that half the world's population will live in water-stressed areas by 2025. This is a growing crisis, so it must be acted on now.
                </p>
            </div>
        </div>
    </div>
</div>
