{% extends "layout.njk" %}

{% from "macros/banner.njk" import banner %}

{% block head %}
    <title>{{ site.title }} | Principles</title>
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell auto page-titles">
                <h1>Principles</h1>
                <h2>Valve team's adherence to the Unicef Principles of Digital Development</h2>
            </div>
        </div>
    </div>

    {{ banner('/images/principles.png', 'Principles of Digital Development', false, true) }}

    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell auto">
                {% markdown "docs/overall/principles.md" %}
            </div>
        </div>
    </div>
{% endblock %}
