{% macro banner(image, alt='', small=false, micro=false) %}
    <div class="banner {{ "small" if small else "normal" }} {{ "micro" if micro else "normal" }}">
        <img src="{{ image }}" alt="{{ alt }}">
    </div>
{% endmacro %}
