<header class="main">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-3">
                {% include "partials/logo.njk" %}
            </div>

            <div class="cell auto">
                {% include "partials/header/navigation.njk" %}
            </div>
        </div>
    </div>
</header>
