<nav class="main">
    <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="#">About</a></li>
        <li>
            <a href="#">Docs</a>
            <ul class="menu">
                <li><a href="/control.html">Control Module</a></li>
                <li><a href="/flow.html">Flow Module</a></li>
                <li><a href="/lighting.html">Lighting Module</a></li>
            </ul>
        </li>
    </ul>

    <a href="https://www.github.com/valveteam" class="github-link">
        <i class="fab fa-github"></i>
    </a>
</nav>
